.config {
  padding: 1.5rem 2rem;
  flex-direction: column;
  display: flex;
  flex: 1;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height: 100%;
    color: #6a737d;
    text-align: center;
  }

  .config__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.5rem;

    .header__content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .content__title {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 550;
        color: #24292e;
      }

      .content__description {
        margin: 0;
        font-size: 0.85rem;
        color: #6a737d;
      }
    }

    .header__close {
      background: none;
      border: none;
      padding: 0.125rem;
      margin: 0;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .config__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;

    .body__form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .form__label {
        font-size: 0.875rem;
        font-weight: 500;
        color: #24292e;
      }

      .form__input,
      .form__select,
      .form__textarea {
        padding: 0.625rem;
        border: 1px solid #e1e4e8;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        font-family: inherit;
        transition: all 0.2s;

        &:focus {
          outline: none;
          border-color: #667eea;
          box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
        }
      }

      .form__textarea {
        resize: vertical;
        font-family: 'Monaco', 'Menlo', monospace;
        font-size: 0.75rem;
        min-height: 99px;
      }

      .form__help {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 0.85rem;
        line-height: 1.75;
        color: #6a737d;

        .help__icon {
          margin-top: 3px;
          width: 15px;
          height: 15px;
        }

        .help__text {
          margin: 0;
          
          code {
            background: rgba(0, 0, 0, 0.05);
            padding: 0.175rem 0.375rem;
            border-radius: 0.25rem;
            padding-bottom: 0.2rem;
            font-family: "Monaco", "Menlo", monospace;
            font-size: 0.75rem;
            color: #555b60;
          }
        }
      }

      .form__info {
        border: 1px solid #e1e4e8;
        border-radius: 0.5rem;
        overflow: hidden;

        .info__row {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          height: 3rem;

          &:not(:last-child) {
            border-bottom: 1px solid #e1e4e8;
          }

          .row__name {
            flex: 1;
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #24292e;
            padding: 0.375rem 0.75rem;
            border-right: 1px solid #e1e4e8;
            text-wrap: wrap;
            height: 100%;
          }

          .row__reference {
            flex: 1;
            display: flex;
            align-items: center;
            font-family: 'Monaco', 'Menlo', monospace;
            padding: 0.375rem 0.75rem;
            font-size: 0.75rem;
            color: #6a737d;
            height: 100%;
          }
        }
      }
    }

    .body__actions {
      margin-top: auto;
      padding-top: 2rem;
      border-top: 1px solid #e1e4e8;

      .actions__button {
        border: none;
        border-radius: 0.5rem;
        font-size: 0.975rem;
        font-weight: 500;
        cursor: pointer;
        outline: 1px solid rgba(0, 0, 0, 0.15);
        outline-offset: -1px;
        width: 100%;
        padding: 0.75rem;

        &--primary {
          box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 0px 0px inset;
          background: linear-gradient(0deg, #5c72d2, #647ce1);
          color: white;
        }
      }
    }
  }
}