/* React Flow Customization */
/* Reference: https://reactflow.dev/learn/customization/theming */
.react-flow {
  .react-flow__node {
    cursor: grab;

    &.selected {
      cursor: grabbing;
    }
  }

  .react-flow__edge-path {
    stroke: rgb(162, 162, 171);
    stroke-width: 1.5;
  }

  .react-flow__edge.selected .react-flow__edge-path {
    stroke: rgb(92, 92, 96);
    stroke-width: 1.5;
  }

  .react-flow__edges {
    svg {
      defs {
        marker {
          path {
            fill: #000000 !important;
          }
        }
      }
    }
  }
  
  marker#react-flow__arrowclosed path {
    fill: #000000 !important;
    stroke: #000000 !important;
  }

  .react-flow__controls {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .react-flow__controls-button {
    border-bottom: 1px solid #e1e4e8;

    &:hover {
      background: #f6f8fa;
    }
  }

  .react-flow__handle {
    width: 10px !important;
    height: 10px !important;
    border-width: 1px !important;

    &-connecting {
      background: #0659f3 !important;
    }

    &-valid {
      background: #556acc !important;
      border-color: #556acc !important;
    }
  }

  .react-flow__background {
    opacity: 0.6 !important;
  }
}